@model List<FoodDeliveryWebApp.Models.Team>
@{
    ViewData["Title"] = "AboutUs";
    ViewData["PageType"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl py-5">
    <div class="container">
    </div>
</div>

<div class="container-xxl py-5">
    <div class="container">
        <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px; visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
            <h1 class="display-5 mb-3">This is our team member.</h1>
            <p>Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
        </div>
        <div class="row g-4">
           
            @foreach(var teamMember in Model)
            {
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <img class="img-fluid" src="@teamMember.ImageUrl" alt="@teamMember.Name">
                    <div class="bg-light p-4">
                        <a class="d-block h5 lh-base mb-4" href="">@teamMember.Description</a>
                        <div class="text-muted border-top pt-4">
                            <small class="me-3"><i class="fa fa-user text-primary me-2"></i>@teamMember.Title</small>
                            <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>@teamMember.Bio</small>
                        </div>
                    </div>
                </div>
            }
            
        </div>
    </div>
</div>

