@model FoodDeliveryWebApp.ViewModels.DashboardViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Backend/Home/_Layout.cshtml";
}



    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome back!</h4>
                    <p class="mb-0">Your business dashboard template</p>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Layout</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Blank</a></li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="stat-widget-one card-body">
                        <div class="stat-icon d-inline-block">
                            @* <i class="ti-money text-success border-success"></i> *@
                        </div>
                        <div class="stat-content d-inline-block">
                        <div class="stat-text">Income Khmer:</div>
                        <div class="stat-digit">@string.Format("{0:#,##0.00}៛", Model.TotalIncome * 4100)</div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="stat-widget-one card-body">
                        <div class="stat-icon d-inline-block">
                            <i class="ti-money text-success border-success"></i>
                        </div>
                        <div class="stat-content d-inline-block">
                        <div class="stat-text">Total Income:</div>
                        <div class="stat-digit">$@Model.TotalIncome</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="stat-widget-one card-body">
                        <div class="stat-icon d-inline-block">
                            <i class="ti-user text-primary border-primary"></i>
                        </div>
                        <div class="stat-content d-inline-block">
                            <div class="stat-text">Admin</div>
                        <div class="stat-digit">@Model.AdminCount</div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="stat-widget-one card-body">
                        <div class="stat-icon d-inline-block">
                            <i class="ti-user text-primary border-primary"></i>
                        </div>
                        <div class="stat-content d-inline-block">
                            <div class="stat-text">Staff</div>
                        <div class="stat-digit">@Model.StaffCount</div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="stat-widget-one card-body">
                        <div class="stat-icon d-inline-block">
                            <i class="ti-user text-primary border-primary"></i>
                        </div>
                        <div class="stat-content d-inline-block">
                            <div class="stat-text">Customer</div>
                        <div class="stat-digit">@Model.UserCount</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="stat-widget-one card-body">
                        <div class="stat-icon d-inline-block">
                            <i class="ti-layout-grid2 text-pink border-pink"></i>
                        </div>
                        <div class="stat-content d-inline-block">
                            <div class="stat-text">Total Cart</div>
                        <div class="stat-digit">@Model.CartCount</div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="stat-widget-one card-body">
                        <div class="stat-icon d-inline-block">
                            <i class="ti-layout-grid2 text-pink border-pink"></i>
                        </div>
                        <div class="stat-content d-inline-block">
                            <div class="stat-text">Category</div>
                        <div class="stat-digit">@Model.CategoryCount</div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="stat-widget-one card-body">
                        <div class="stat-icon d-inline-block">
                            <i class="ti-layout-grid2 text-pink border-pink"></i>
                        </div>
                        <div class="stat-content d-inline-block">
                            <div class="stat-text">Total Orders</div>
                        <div class="stat-digit">@Model.OrderCount</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="stat-widget-one card-body">
                        <div class="stat-icon d-inline-block">
                            <i class="ti-link text-danger border-danger"></i>
                        </div>
                        <div class="stat-content d-inline-block">
                            <div class="stat-text">Total Payment</div>
                            <div class="stat-digit">@Model.PaymentCount</div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="stat-widget-one card-body">
                        <div class="stat-icon d-inline-block">
                            <i class="ti-link text-danger border-danger"></i>
                        </div>
                        <div class="stat-content d-inline-block">
                            <div class="stat-text">Team</div>
                    <div class="stat-digit">@Model.TeamCount</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       @* You can show collection fee here*@
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                    <h4 class="card-title">Latest Orders</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table student-data-table m-t-20">
                                <thead>
                                    <tr>
                                        <th>Order At</th>
                                        <th>Product Name</th>
                                        <th>QTY</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @if (Model.LatestOrders != null && Model.LatestOrders.Any())
                                {
                                        
                                            @foreach (var order in Model.LatestOrders)
                                            {
                                                <tr>
                                                    <td>@order.OrderAt.ToString("MM/dd/yyyy")</td>
                                                    <td>@order.Product.Name</td>
                                                    <td>@order.Quantity</td>
                                                </tr>
                                            }
                                        
                                }
                                else
                                {
                                    <p>No latest orders found.</p>
                                }

                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4 col-xxl-6 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Timeline</h4>
                    </div>
                    <div class="card-body">
                        <div class="widget-timeline">
                            <ul class="timeline">
                                <li>
                                    <div class="timeline-badge primary"></div>
                                    <a class="timeline-panel text-muted" href="#">
                                        <span>10 minutes ago</span>
                                        <h6 class="m-t-5">Youtube, a video-sharing website, goes live.</h6>
                                    </a>
                                </li>

                                <li>
                                    <div class="timeline-badge warning">
                                    </div>
                                    <a class="timeline-panel text-muted" href="#">
                                        <span>20 minutes ago</span>
                                        <h6 class="m-t-5">Mashable, a news website and blog, goes live.</h6>
                                    </a>
                                </li>

                                <li>
                                    <div class="timeline-badge danger">
                                    </div>
                                    <a class="timeline-panel text-muted" href="#">
                                        <span>30 minutes ago</span>
                                        <h6 class="m-t-5">Google acquires Youtube.</h6>
                                    </a>
                                </li>

                                <li>
                                    <div class="timeline-badge success">
                                    </div>
                                    <a class="timeline-panel text-muted" href="#">
                                        <span>15 minutes ago</span>
                                        <h6 class="m-t-5">StumbleUpon is acquired by eBay. </h6>
                                    </a>
                                </li>

                                <li>
                                    <div class="timeline-badge warning">
                                    </div>
                                    <a class="timeline-panel text-muted" href="#">
                                        <span>20 minutes ago</span>
                                        <h6 class="m-t-5">Mashable, a news website and blog, goes live.</h6>
                                    </a>
                                </li>

                                <li>
                                    <div class="timeline-badge dark">
                                    </div>
                                    <a class="timeline-panel text-muted" href="#">
                                        <span>20 minutes ago</span>
                                        <h6 class="m-t-5">Mashable, a news website and blog, goes live.</h6>
                                    </a>
                                </li>

                                <li>
                                    <div class="timeline-badge info">
                                    </div>
                                    <a class="timeline-panel text-muted" href="#">
                                        <span>30 minutes ago</span>
                                        <h6 class="m-t-5">Google acquires Youtube.</h6>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            

            
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="year-calendar"></div>
                    </div>
                </div>
                <!-- /# card -->
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">All Expense</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table student-data-table m-t-20">
                                <thead>
                                    <tr>
                                        <th>Expense Type</th>
                                        <th>Amount</th>
                                        <th>Status</th>
                                        <th>Email</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>

                                        <td>
                                            Salary
                                        </td>
                                        <td>
                                            $2000
                                        </td>
                                        <td>
                                            <span class="badge badge-primary">Paid</span>
                                        </td>
                                        <td>
                                            edumin@gmail.com
                                        </td>
                                        <td>
                                            10/05/2017
                                        </td>
                                    </tr>
                                    <tr>

                                        <td>
                                            Salary
                                        </td>
                                        <td>
                                            $2000
                                        </td>
                                        <td>
                                            <span class="badge badge-warning">Pending</span>
                                        </td>
                                        <td>
                                            edumin@gmail.com
                                        </td>
                                        <td>
                                            10/05/2017
                                        </td>
                                    </tr>
                                    <tr>

                                        <td>
                                            Salary
                                        </td>
                                        <td>
                                            $2000
                                        </td>
                                        <td>
                                            <span class="badge badge-primary">Paid</span>
                                        </td>
                                        <td>
                                            edumin@gmail.com
                                        </td>
                                        <td>
                                            10/05/2017
                                        </td>
                                    </tr>
                                    <tr>

                                        <td>
                                            Salary
                                        </td>
                                        <td>
                                            $2000
                                        </td>
                                        <td>
                                            <span class="badge badge-danger">Due</span>
                                        </td>
                                        <td>
                                            edumin@gmail.com
                                        </td>
                                        <td>
                                            10/05/2017
                                        </td>
                                    </tr>
                                    <tr>

                                        <td>
                                            Salary
                                        </td>
                                        <td>
                                            $2000
                                        </td>
                                        <td>
                                            <span class="badge badge-primary">Paid</span>
                                        </td>
                                        <td>
                                            edumin@gmail.com
                                        </td>
                                        <td>
                                            10/05/2017
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

