<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png">
    <link rel="stylesheet" href="~/assets/vendor/owl-carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/vendor/owl-carousel/css/owl.theme.default.min.css">
    <link href="~/assets/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <!-- Toastr -->
    <link rel="stylesheet" href="~/assets/vendor/toastr/css/toastr.min.css">
    @*<link href="../../Assets/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
     <!-- Pick date -->
    <link rel="stylesheet" href="~/assets/vendor/pickadate/themes/default.css">
    <link rel="stylesheet" href="~/assets/vendor/pickadate/themes/default.date.css">
    <!-- Datatable -->
    <link href="~/assets/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">

    <style>

        /* Styles for the toggle switch */
        .toggle {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

            .toggle input {
                opacity: 0;
                width: 0;
                height: 0;
            }

            .toggle label {
                background-color: #2196F3;
                border-radius: 34px;
                display: block;
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transition: background-color 0.3s;
            }

            .toggle input:checked + label {
                background-color: #4CAF50;
            }

            .toggle label:after {
                content: "";
                position: absolute;
                height: 26px;
                width: 26px;
                border-radius: 50%;
                background-color: white;
                /* top: 4px; */
                left: 0px;
                transition: left 0.3s;
            }

            .toggle input:checked + label:after {
                left: 34px;
            }
    </style>
</head>
<body>
    <!--*******************
            Preloader start
        ********************-->
    @*<div id="preloader">
    <div class="sk-three-bounce">
    <div class="sk-child sk-bounce1"></div>
    <div class="sk-child sk-bounce2"></div>
    <div class="sk-child sk-bounce3"></div>
    </div>
    </div>*@
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="index.html" class="brand-logo">
                <img class="logo-abbr" src="~/assets/images/logo.png" alt="">
                <img class="logo-compact" src="~/assets/images/logo-text.png" alt="">
                <img class="brand-title" src="~/assets/images/logo-text.png" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="search_bar dropdown">
                                <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                                    <i class="mdi mdi-magnify"></i>
                                </span>
                                <div class="dropdown-menu p-0 m-0">
                                    <form>
                                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                                    </form>
                                </div>
                            </div>
                        </div>

                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-bell"></i>
                                    <div class="pulse-css"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <ul class="list-unstyled">
                                        <li class="media dropdown-item">
                                            <span class="success"><i class="ti-user"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p>
                                                        <strong>Martin</strong> has added a <strong>customer</strong> Successfully
                                                    </p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                        <li class="media dropdown-item">
                                            <span class="primary"><i class="ti-shopping-cart"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>Jennifer</strong> purchased Light Dashboard 2.0.</p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                        <li class="media dropdown-item">
                                            <span class="danger"><i class="ti-bookmark"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p>
                                                        <strong>Robin</strong> marked a <strong>ticket</strong> as unsolved.
                                                    </p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                        <li class="media dropdown-item">
                                            <span class="primary"><i class="ti-heart"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>David</strong> purchased Light Dashboard 1.0.</p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                        <li class="media dropdown-item">
                                            <span class="success"><i class="ti-image"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p>
                                                        <strong> James.</strong> has added a<strong>customer</strong> Successfully
                                                    </p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                    </ul>
                                    <a class="all-notification" href="#">
                                        See all notifications <i class="ti-arrow-right"></i>
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-account"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="./app-profile.html" class="dropdown-item">
                                        <i class="icon-user"></i>
                                        <span class="ml-2">Profile </span>
                                    </a>
                                    <a href="./email-inbox.html" class="dropdown-item">
                                        <i class="icon-envelope-open"></i>
                                        <span class="ml-2">Inbox </span>
                                    </a>
                                    <form asp-area="" asp-controller="Account" asp-action="Logout">
                                        <a id="btnLogout" href="#" class="dropdown-item">
                                            <i class="icon-key"></i>
                                            <span class="ml-2">Logout </span>
                                        </a>
                                    </form>
                                   
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">


                    @if(User.Identity.IsAuthenticated && User.IsInRole("admin"))
                    {
                        <li>
                            <a href="@Url.Action("Index", "Dashboard")" aria-expanded="false">
                                <i class="icon icon-globe-2"></i><span class="nav-text">Dashboard</span>
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("Index", "Category")" aria-expanded="false">
                                <i class="icon icon-globe-2"></i><span class="nav-text">Category</span>
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("Index", "Product")" aria-expanded="false">
                                <i class="icon icon-globe-2"></i><span class="nav-text">Product</span>
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("Index", "Dashboard")" aria-expanded="false">
                                <i class="icon icon-globe-2"></i><span class="nav-text">Update Status</span>
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("Index", "User")" aria-expanded="false">
                                <i class="icon icon-globe-2"></i><span class="nav-text">User</span>
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("Index", "Dashboard")" aria-expanded="false">
                                <i class="icon icon-globe-2"></i><span class="nav-text">Contact</span>
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("Index", "Dashboard")" aria-expanded="false">
                                <i class="icon icon-globe-2"></i><span class="nav-text">Selling Report</span>
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("Index", "Team")" aria-expanded="false">
                                <i class="icon icon-globe-2"></i><span class="nav-text">Teams</span>
                            </a>
                        </li>
                    }
                    else if (User.Identity.IsAuthenticated && User.IsInRole("staff"))
                    {
                        <li>
                            <a href="@Url.Action("Index", "Dashboard")" aria-expanded="false">
                                <i class="icon icon-globe-2"></i><span class="nav-text">Dashboard</span>
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("Index", "Category")" aria-expanded="false">
                                <i class="icon icon-globe-2"></i><span class="nav-text">Category</span>
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("Index", "Product")" aria-expanded="false">
                                <i class="icon icon-globe-2"></i><span class="nav-text">Product</span>
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("Index", "Dashboard")" aria-expanded="false">
                                <i class="icon icon-globe-2"></i><span class="nav-text">Update Status</span>
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("Index", "Dashboard")" aria-expanded="false">
                                <i class="icon icon-globe-2"></i><span class="nav-text">Contact</span>
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("Index", "Dashboard")" aria-expanded="false">
                                <i class="icon icon-globe-2"></i><span class="nav-text">Selling Report</span>
                            </a>
                        </li>
                    }

                    

                </ul>
            </div>


        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
        @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
        </ul>
        </div>
        </div>
        </nav>*@




        <!--**********************************
              Content body start
          ***********************************-->
        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->





        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2023 - SampleApplicationPractice - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>






    @*<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
    </div>*@

    <!--**********************************
        Scripts
    ***********************************-->

    <!-- Required vendors -->
    @*@Scripts.Render("~/bundles/jquery")*@
    <script src="~/assets/vendor/global/global.min.js"></script>
    <script src="~/assets/js/quixnav-init.js"></script>
    <script src="~/assets/js/custom.min.js"></script>

    <!-- Datatable -->
    <script src="~/assets/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/plugins-init/datatables.init.js"></script>

    <!-- All init script -->
    <script src="~/assets/js/plugins-init/toastr-init.js"></script>

    <!-- Toastr -->
    <script src="~/assets/vendor/toastr/js/toastr.min.js"></script>
    <script src="~/assets/vendor/sweetalert2/dist/sweetalert2.min.js"></script>

    <!-- pickdate -->
    <script src="~/assets/vendor/pickadate/picker.js"></script>
    <script src="~/assets/vendor/pickadate/picker.time.js"></script>
    <script src="~/assets/vendor/pickadate/picker.date.js"></script>

    <!-- Pickdate -->
    <script src="~/assets/js/plugins-init/pickadate-init.js"></script>

	
    <script src="~/js/Script.js"></script>
    @await RenderSectionAsync("Scripts", required: false)



    @*<script src="../../Assets/js/plugins-init/sweetalert.init.js"></script>*@
    <!-- Include SweetAlertJS files -->

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>




    <!-- Vectormap -->
    <script src="~/assets/vendor/raphael/raphael.min.js"></script>
    <script src="~/assets/vendor/morris/morris.min.js"></script>


    <script src="~/assets/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/assets/vendor/chart.js/Chart.bundle.min.js"></script>

    <script src="~/assets/vendor/gaugeJS/dist/gauge.min.js"></script>

    <!--  flot-chart js -->
    <script src="~/assets/vendor/flot/jquery.flot.js"></script>
    <script src="~/assets/vendor/flot/jquery.flot.resize.js"></script>

    <!-- Owl Carousel -->
    <script src="~/assets/vendor/owl-carousel/js/owl.carousel.min.js"></script>

    <!-- Counter Up -->
    <script src="~/assets/vendor/jqvmap/js/jquery.vmap.min.js"></script>
    <script src="~/assets/vendor/jqvmap/js/jquery.vmap.usa.js"></script>
    <script src="~/assets/vendor/jquery.counterup/jquery.counterup.min.js"></script>


    <script src="~/assets/js/dashboard/dashboard-1.js"></script>

</body>
</html>
